{% extends "main_page_module/base.html" %}

{% block extraheader %}
{% endblock extraheader  %}

{% block nav_hvac %}active{% endblock nav_hvac %}



{% block content%}

  <div class="container-fluid" >
    <br>
    <div class="row">
      <div class="col-sm-1">
      </div>
      
      
      <div class="col-sm-10 text-center">

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HVAC temperatures</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cooling/heating recovery?????</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Free Cooling setup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SATC Split</a>
          </li>
        </ul>
      
      </div>


        
      <div class="col-sm-1">
      </div>
    </div>

  </div>



{% endblock content %}
